{% extends "dashboard/includes/header.html" %}

{% load widget_tweaks %}
{% load compress static %}
{% block extra_css %}
<style type="text/css">
  input[type="file"] {
 
 display:block;
}
.imageThumb {
 max-height: 75px;
 border: 2px solid;
 margin: 10px 10px 0 0;
 padding: 1px;

 }

 .border_input{
      background-size: 100% 2px, 100% 1px !important;
 }

</style>
{% endblock %}
{% block conteudo %}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Meus Serviços</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">{{ object.nome }}</li>
        </ol>
    </div>
     <div class="col-md-7 col-4 align-self-center">
        {% if user %}
            <h3 class="text-themecolor" style="float: right; margin-right: 2%;">{{object.unidade.nome}}</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"  style="float: right; margin-right: 2%;clear: both;">Unidade</li>
            </ol>
        {% endif %}
    </div>
</div>
<div class="row">
  <div class="col-lg-11 col-xlg-12 col-md-10">
    
  <button data-izimodal-open="#modal-custom"  type="button" class="btn waves-effect waves-light btn-lg btn-success pull-right" style="margin-bottom: 1%; ">Criar Post</button>
  </div>
</div>
<button data-izimodal-open="#modal-custom" type="button" class="waves-effect btn-success btn btn-circle btn-sm pull-right m-l-10" style="position: fixed;bottom: 20px;right: 20px;padding: 25px;"><b style="top: 19px;left: 21px;position: absolute;">+</b></button>
{% for post in object.post_servico.all|dictsort:"data_cadastro" reversed %}
<div class="row">
    <div class="col-lg-11 col-xlg-12 col-md-10">
        <div class="card">
            <div class="card-block">
                          <div class="profiletimeline">
                            <div class="sl-item">
                                <h3 class="text-themecolor">{{post.titulo}}</h3>                               
                                <div class="sl-right"> 
                                    <p>
                                        <h3>
                                          {% if post.criado_por.imagem %}
                                            <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user" src="{{post.criado_por.imagem.url}}">
                                          {% else %}
                                            <img class="img-circle pull-left m-r-20 m-b-10" width="60" alt="user" src="{% static 'assets/images/users/2.jpg' %}">
                                          {%endif%}
                                            <b style="font-weight: 600;">{{post.criado_por.full_name}}</b><br><small>{{post.data_cadastro|date:'H:i - d/m/Y '}}</small></h3>
                                        <hr class="">
                                    </p>
                                </div>
                               
                                    <div class="slider-for" style="width: 38%; margin: 2% auto;"">
                                      {% for imagem in post.galeria.imagem_galeria.all %}
                                        <div><img src="{{imagem.imagem.url}}"  alt="post" ></div>
                                      {% endfor %}
                                    </div>
                                     <div class="carousel_nav" style="width: 34%; margin: 1% auto;">
                                      {% for imagem in post.galeria.imagem_galeria.all %}
                                        <div><img src="{{imagem.imagem.url}}"  alt="post" ></div>
                                      {% endfor %}
                                  </div>

                                </div>
                                <p> {{post.conteudo}} </p> 
                            </div>
                            <div class="like-comm">
                                <h4 class="card-title">Comentários:</h4> 
                                    <div class="message-box">
                                        <div class="message-widget">
                                            {% for comentario in post.comentario_post.all reversed %}
                                                <a >
                                                    <div class="user-img">
                                                      {% if comentario.usuario.imagem %}
                                                        <img src="{{comentario.usuario.imagem.url}}" alt="user" class="img-circle">
                                                      {% else %}
                                                        <img src="{% static 'assets/images/users/default-profile.jpg' %}" alt="user" class="img-circle">
                                                      {% endif %}
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h5>{{comentario.usuario.full_name}}</h5> 
                                                        <span class="mail-desc">
                                                            {{comentario.descricao}}
                                                        </span>
                                                        <span class="time">{{comentario.data_cadastro|date:'H:i - d/m/Y '}}</span> </div>
                                                </a>
                                            {% endfor %}
                                        </div>
                                </div>
                                <div>
                                    <form class="form-horizontal form-material" action="{% url 'comentar' post.id object.id %}" enctype="multipart/form-data"  method="post" >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-11">
                                              {{form_comment.descricao | add_class:"form-control form-control-line border_input"}}
                                            </div>
                                            <div class="col-1">
                                                <button type="submit" class="btn btn-info btn-circle btn-lg"><i class="fa fa-paper-plane-o"></i> </button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>

{% endfor %}


<div class="modal-content" id="modal-custom" data-iziModal-group="grupo1" >
    <div class="modal-header">
        <h4 class="modal-title" id="myLargeModalLabel">Criar Post</h4>
        <button type="button" class="close" data-iziModal-close class="icon-close" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
         <div class="card-block">
            <form class="form-horizontal form-material " action="{% url 'novo_post' object.id %}" enctype="multipart/form-data"  method="post" >
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-md-12">Titulo</label>
                    <div class="col-md-12">
                        {{ form.titulo | add_class:"form-control form-control-line border_input" }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="example-email" class="col-md-12">Conteúdo</label>
                    <div class="col-md-12">
                        {{form.conteudo | add_class:"form-control border_input" }}
                    </div>
                </div>
                {% if object.has_carrosel %}
                 <div class="form-group">
                    <label for="example-email" class="col-md-12">Adicione iamgens:</label>
                    <input type="file" name="file" multiple />
                  </div>
                {% else %}
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock %}             
{% block extra_js %}
<script type="text/javascript">

    $(function(){

      /* Instantiating iziModal */
      $("#modal-custom").iziModal({
          overlayClose: false,
          overlayColor: 'rgba(0, 0, 0, 0.6)'
      });

      /*$(document).on('click', '.trigger-custom', function (event) {
          event.preventDefault();
          $('#modal-custom').iziModal('open');
      });*/

      /* JS inside the modal */

      $("#modal-custom").on('click', 'header a', function(event) {
          event.preventDefault();
          var index = $(this).index();
          $(this).addClass('active').siblings('a').removeClass('active');
          $(this).parents("div").find("section").eq(index).removeClass('hide').siblings('section').addClass('hide');

          if( $(this).index() === 0 ){
              $("#modal-custom .iziModal-content .icon-close").css('background', '#ddd');
          } else {
              $("#modal-custom .iziModal-content .icon-close").attr('style', '');
          }
      });

      $("#modal-custom").on('click', '.submit', function(event) {
          event.preventDefault();

          var fx = "wobble",  //wobble shake
              $modal = $(this).closest('.iziModal');

          if( !$modal.hasClass(fx) ){
              $modal.addClass(fx);
              setTimeout(function(){
                  $modal.removeClass(fx);
              }, 1500);
          }
      }); 
  
})

 
</script>

<script type="text/javascript">

 $('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: true,
  centerMode: true,
  focusOnSelect: true
});
</script>

{% endblock %}