{% extends "dashboard/includes/header_login.html" %}
{% load widget_tweaks %}
{% load compress static %}
{% block conteudo %}
<div class="login-box card">

            <div class="card-body" style="padding: 1.25rem;">   
                <div class="lb-header" style="margin-bottom: 10%; font-size: 1.2em; font-weight: 500;">
                  <a href="#" class="active" id="login-box-link">Login</a>
                  <a href="#" id="signup-box-link" style="float: right;">Cadastro</a>
                </div>
                <form class=" email-login form-horizontal form-material" action="{% url 'social_login' %}" enctype="multipart/form-data"  method="post" id="cadastro_form">
                  {% csrf_token %}
                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_login.email | add_class:"form-control form-control-line"}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_login.password | add_class:"form-control form-control-line"}}
                    </div>
                  </div>

                  {% if form_login.email.errors %}
                    <div class="help-block" style="color:red;">
                      {% for error in form_login.email.errors %}
                        {{ error|escape }}
                      {% endfor %}
                    </div>
                  {% endif %}                        
                  <div class="form-group">
                      <div class="col-md-12">
                           <a href="#" class="headertext-dark pull-right" id="request-box-link"><i class="fa fa-lock m-r-5"></i> Esqueceu a senha?</a> </div>
                  </div>
                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Acessar</button>
                      </div>
                  </div>
                </form>

                <form class="email-signup form-horizontal form-material" action="{% url 'cadastro' %}" enctype="multipart/form-data"  method="post" id="cadastro_form">
                 {% csrf_token %}
                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_register.full_name | add_class:"form-control form-control-line"}}
                        {% if form_register.full_name.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.full_name.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                    </div>
                  </div>  

                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_register.email | add_class:"form-control form-control-line"}}
                        {% if form_register.email.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.email.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                    </div>
                  </div>

                    <div class="form-group">
                      <div class="col-sm-12">
                        {{form_register.unidade | add_class:"form-control form-control-line" }}
                        {% if form_register.email.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.unidade.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-12">
                        {{form_register.curso | add_class:"form-control form-control-line" }}
                        {% if form_register.curso.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.curso.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                      </div>
                    </div>

                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_register.password | add_class:"form-control form-control-line"}}
                        {% if form_register.password.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.password.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                        {{form_register.repassword | add_class:"form-control form-control-line"}}
                        {% if form_register.repassword.errors %}
                          <div class="help-block" style="color:red;text-align: left;">
                            {% for error in form_register.repassword.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %}
                    </div>
                  </div>

                  <div class="form-group text-center m-t-20">
                      <div class="col-xs-12">
                          <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Cadastrar</button>
                      </div>
                  </div>
                </form>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <a href="{% url 'social:begin' 'facebook' %}" class="btn  btn-facebook" data-toggle="tooltip" title="Login com o Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
                            <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-googleplus" data-toggle="tooltip" title="Login com o Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
                        </div>
                    </div>
                </div>
                
                <form class="email-request form-horizontal form-material" action="{% url 'recover' %}" id="request-box-link"  enctype="multipart/form-data"  method="post">
                  {% csrf_token %}
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <h3>Recuperar Senha</h3>
                            <p class="text-muted">Informe seu E-mail e enviaremos uma nova senha pra você :) </p>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            {{form_recover.email | add_class:"form-control form-control-line"}}
                        </div>
                        {% if form_recover.email.errors %}
                          <div class="help-block" style="color:red;">
                            {% for error in form_recover.email.errors %}
                              {{ error|escape }}
                            {% endfor %}
                          </div>
                        {% endif %} 
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
</div>
{% endblock %}
