{% block menu %}
    {% if request.user.is_aluno %}
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="/" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Home</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'see_perfil' %}" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Perfil</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'servicos' %}" aria-expanded="false"><i class="mdi mdi-archive"></i><span class="hide-menu">Todos Serviços</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="{% url 'criar_servico' %}" aria-expanded="false"><i class="mdi mdi-microsoft"></i><span class="hide-menu">Criar Serviço</span></a>
                        </li>
                    
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
            <a href="/social/logout" class="dropdown-item" title="Logout"><i class="fa fa-power-off"></i> Logout</a>
         </div>
        <!-- End Bottom points-->
    </aside>
    {% endif %}
{% endblock %}