{% extends "dashboard/includes/header.html" %}
{% load compress static %}
{% block conteudo %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Meus Serviços</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Meus Serviços</li>
            </ol>
        </div>
        <div class="col-md-7 col-4 align-self-center">
        {% if user %}
            <h3 class="text-themecolor" style="float: right; margin-right: 2%;">{{user.unidade.nome}}</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"  style="float: right; margin-right: 2%;clear: both;">Unidade</li>
            </ol>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <!-- Column -->
        {% for servico in servicos %}
            
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <!-- Column -->
                    <a href="{% url 'servico_slug' servico.slug %}">
                        <div class="card">
                           {% if servico.imagem %}
                                <div style="overflow:hidden;background:#fff url('{{servico.imagem.url}}') center no-repeat ; width:100%; height:164px">
                                </div>
                            {% else %}
                                <img class="card-img-top" src="{% static 'assets/images/background/profile-bg.jpg' %}" alt="Card image cap" style="width:100%;">
                            {%endif%}
                            <div class="card-block little-profile text-center">
                                 <div class="message-box contact-box">
                                    <h2 class="add-ct-btn">
                                        <a data-original-title="Deixar de Participar" data-toggle="tooltip" >
                                            <button type="button" class="btn btn-circle btn-lg btn-danger waves-effect waves-dark"  onclick="deixar_servico(this, {{servico.id}} )">x</button>
                                        </a>
                                    </h2>
                                    <h3 class="m-b-0">{{servico.nome}}</h3>
                                    <p>Criado por : {{servico.criado_por}}</p>
                                    <!-- <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Participar</a> -->
                                    <div class="row text-center m-t-20">
                                        <div class="col-lg-4 col-md-4 m-t-20">
                                            <h3 class="m-b-0 font-light">{{servico.unidade.nome}}</h3><small>Unidade</small></div>
                                        <div class="col-lg-4 col-md-4 m-t-20">
                                            <h3 class="m-b-0 font-light">{{servico.get_qauntidade_post}}</h3><small>Post</small></div>
                                        <div class="col-lg-4 col-md-4 m-t-20">
                                            <h3 class="m-b-0 font-light">{{servico.usuario.count}}</h3><small>Participantes</small></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>
{% endblock %}             
 {% block extra_js %}
 <script type="text/javascript">
function deixar_servico(elem, servico_id) {
    // $( "#participar" ).click(function() {
    swal("Você tem certeza que deseja deixar de participar deste serviço?", {
          buttons: ["Não", "Sim"],
        }).then((value) => {
          switch (value) {
            
            case true:
                window.location.href = "servico/deixar_servico/" + servico_id

            default:
                console.log(value)
          }
        });
// })
}

// você pode invocar métodos no JavaScript também

 </script>
{% endblock %}