{% extends "dashboard/includes/header.html" %}
{% load compress static %}
{% block conteudo %}
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">Meus Serviços</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Meus Serviços</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <!-- Column -->
        {% for servico in servicos %}
            
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <!-- Column -->
                    <a href="{% url 'servico_slug' servico.slug %}">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'assets/images/background/profile-bg.jpg' %}" alt="Card image cap">
                            <div class="card-block little-profile text-center">
                                <!-- <div class="pro-img"><img src="{% static 'assets/images/users/4.jpg' %}" alt="user" /></div> -->
                                <h3 class="m-b-0">{{servico.nome}}</h3>
                                <p>Criado por : {{servico.criado_por}}</p>
                                <!-- <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Participar</a> -->
                                <div class="row text-center m-t-20">
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <h3 class="m-b-0 font-light">{{servico.unidade.nome}}</h3><small>Unidade</small></div>
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <h3 class="m-b-0 font-light">{{servico.get_qauntidade_post}}</h3><small>Post</small></div>
                                    <div class="col-lg-4 col-md-4 m-t-20">
                                        <h3 class="m-b-0 font-light">{{servico.usuario.count}}</h3><small>Participantes</small></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>
{% endblock %}             